{% extends "apuntador/base.html" %}
{% block title %}Apuntador{% endblock %}
{% block content %}
<h1>Llista de tallers</h1>

<p><strong>{{ name|capitalize }}</strong>, aquí tens la llista de tallers disponibles per incriure't</p>

{% if success %}<p style="color:#0A0">Els canvis s'han desat correctament</p>{% endif %}

<form action="/tallers" method="POST">
{% for t in tallers %}
	<div><input type="checkbox" name="each_taller" value="{{ t.id }}" {% if t.inscrit %}checked{% endif %}>{{ t.data }} - {{ t.nom }}</div>
{% endfor %}
	<br />
	<input type="submit" value="Actualitza les subscripcions" />
</form>
<br>
<a href="/logout">Tanca la sessió</a>
{% endblock %}