{% extends "apuntador/base.html" %}
{% block title %}Canvia la contrasenya{% endblock %}
{% block content %}
	<h1>Canvia la contrasenya</h1>

	{% if password_hash %}
		{% if error %}{{ error }}{% endif %}

		Escriu el correu on has rebut aquest enllaç i escull una contrassenya nova.

		<form action="/apuntador/resetpassword/{{ password_hash }}" method="POST">
			<input name="email" placeholder="Email" type="text" /><br>
			<input name="passwd" placeholder="Contrasenya" type="password" /><br>
			<input type="submit" value="Canviar!" />
		</form>
	{% elif email_sent %}
		Si l'adreça de correu es troba a la nostra base de dades rebràs un missatge.
	{% else %}
		T'enviarem un correu amb un enllaç per escollir una nova contrasenya.

		<form action="/apuntador/resetpassword" method="POST">
			<input name="email" placeholder="Email" type="text" /><br>
			<input type="submit" value="Canviar la constrasenya" />
		</form>
	{% endif %}
{% endblock %}
