{% extends "apuntador/base.html" %}
{% block title %}Canvia la contrasenya{% endblock %}
{% block content %}
	<h1>Canvia la contrasenya</h1>

	{% if msg %}
		<p>{{ msg }}</p>
	{% elif password_hash %}
		{% if error %}{{ error }}{% endif %}

		<p>Escriu el correu on has rebut aquest enllaç i escull una contrassenya nova.</p>

		<form action="/resetpassword/{{ password_hash }}" method="POST">
			<input name="email" placeholder="Email" type="text" /><br>
			<input name="passwd" placeholder="Contrasenya" type="password" /><br>
			<input type="submit" value="Canviar!" />
		</form>
	{% else %}
		<p>T'enviarem un correu amb un enllaç per escollir una nova contrasenya.</p>

		<form action="/resetpassword" method="POST">
			<input name="email" placeholder="Email" type="text" /><br>
			<input type="submit" value="Canviar la constrasenya" />
		</form>
	{% endif %}
{% endblock %}
