/*
 GENERAL
 */
body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', Arial;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
}

p {
	font-size: 20px;
	font-weight: 300;
	line-height: 42px;
}

a {
	color:#0AE;
	text-decoration: none;
}

ul, li {
	font-size: 20px;
	font-weight: 300;
	line-height: 42px;
}

li.taller {
	margin-bottom: 30px;
	margin-right: 4px;
	line-height: 30px;
}

.professor_taller {
	font-size: 0.8em;
	color: #777;
	display: inline-block;
}

.taller_desc {
	font-size: 0.8em;
	color: #333;
}

.requisits {
	background-color: rgba(00, 191, 232, 0.2);
	color:#FFF;
	color:#000;
	padding: 0px 6px 1px 6px;
}

.info_taller {
	font-size: 0.7em;
	color: #777;
	display: inline-block;
	border-left: 1px solid #AAA;
	padding: 8px 15px;
	line-height: 20px;
}

/*
 MAIN, CONTENT
 */
.container {
	width: 900px;
	margin:0 auto;
}

@media screen and (max-width: 900px) {
	.container {
		width: 90%;
	}
}

.thumb {
	opacity: 0.02;
	margin-left: -400px;
	margin-right: 10px;
	width: 350px;
	float: left;
}

.article {
	padding:15px 0 15px 0 !important;
}

.bg-white {
	background-color: #FFF;
}

.bg-grey {
	background-color: #F9F9F9;
	border:1px solid #EEE;
	border-right: 0;
	border-left: 0;
}

.content-image {
	max-height: 300px;
	overflow: hidden;
}

/*
 MENU, HEADER, NAVIGATION
 */
header {
	height: 85px;
	padding: 30px 0 !important;
}

#main_photo {
	height: 362px;
	margin: 0 auto;
	background-image: url("/static/images/cover.jpg");
	background-position: center; 
}

#h_logo {
	width: 235px;
	float: left;
}

#h_menu {
	width: 665px;
	float: right;
	margin-top: 15px;
	text-align: right;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#navlist {
	padding: 0;
}

#navlist li a {
	color: #777;
	font-weight: bold;
}

#navlist li a:hover {
	color:#0AE;
	text-decoration: none;
}

/*
 FORM
 */

div.form {
	box-shadow: 0 5px 12px 0 rgba(15, 15, 15, 0.4);
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 15px 0 10px 0;
	position: fixed;
	background-color: rgba(255,255,255,0.85);
	text-align: center;
}

input.email {
	border:1px solid #999; 
	-webkit-appearance:none;
	font-size: 16px;
	padding:8px 3px; 
	text-indent:2%;
	float: center;
	background-color: rgba(255,255,255,0.65);	
	margin-bottom: 5px;
	border-radius: 2px;
}

input.button {
	background-color: rgba(180,180,180,0.7); 
	border: 0 none;
	color: rgba(255,255,255,1); 
	cursor: pointer; 
	font-size: 16px; 
	font-weight: normal; 
	height: 36px; 
	line-height: 36px; 
	margin: 0 0 0 10px; 
	padding: 0 22px; 
	text-align: center; 
	text-decoration: none; 
	vertical-align: top; 
	white-space: nowrap;
	border-radius: 2px;
}

/*
 FOOTER
 */
footer {
	height: 120px;
	padding: 30px 0 80px !important;
	margin: 0 auto !important;
	font-family: 'Open Sans', Arial;
	font-size: 15px !important;
	color: #999;
	text-align: center;
	border-top: 1px solid #F5F5F5;
	background-color: #FAFAFA;
}

.frame {
    height: 50px;      /* equals max image height */
    white-space: nowrap;
    text-align: center;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.logo_suport {
	vertical-align: middle;
}

/*
MOBILE
*/
.material-icons.menu {
	font-size: 40px;
	color: #666;
	cursor: pointer;
	display: none;
}

#navlist_m li {
	list-style-type: none;
	width: 90%;
	margin:0 auto;
	text-align: right;
}

#navlist_m {
	display: none;
	position:absolute;
	left: 0px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFF;
	padding: 0 0 20px 0;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
	#foto {
		height: auto;
		width: 900px;
	}
	header {
		height: 40px;
	}
	#h_logo {
		width: auto;
	}
	#logo {
		height: 40px;
		wifth: auto;
	}
	#h_menu {
		margin-top: 0;
		width: auto;
	}

	#navlist {
		display: none;
	}
	.material-icons.menu {
		display: block;
	}
}
