<!DOCTYPE html>
<html>
<head>
	<title>FrikiWeek - Benvinguts a la FW'15</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google-site-verification" content="2JIx_A4UTRNYWm76Ux3KqW2OGW8Ee726BcX8YUp5Vd4" />
	<meta name="description" content="La FW és una iniciativa nascuda dels estudiants de l'Enginyeria de Sistemes TIC. Té com a objectiu intercanviar coneixements, entre estudiants i interessats">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
</head>
<body>
<div>
	<header class="container">
		<div id="h_logo">
			<img src="{{ url_for('static', filename='images/logo_small.jpg') }}" alt="Logo de la Frikiweek 2015" />
		</div>
		<div id="h_menu">
			<ul id="navlist">
			{% for item in navigation %}
				{% if item.type == "text" %}
					<li><a href="#{{ item.id }}">{{ item.title|upper }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</header>

	<div id="main_photo">
	</div>
	<main>
	{% for fragment in container %}
		<div id="{{ fragment.id }}" class=
		{% if loop.index % 2 %}
			"bg-white"
		{% else %}
			"bg-grey"
		{% endif %}>
		
		{% if fragment.img %}
			<div class="content-image">
				<img src="{{ fragment.img }}" />
			</div>
		{% endif %}
			<div class="container article">
				<h1>{{ fragment.title|capitalize }}</h1>
				<article>{{ fragment.content|safe }}</article>
			</div>
		</div>
	{% endfor %}
	</main>
	<div class="form">
		<form action="//frikiweek.us11.list-manage.com/subscribe/post?u=7fa5e5c14258dc6bff5457317&amp;id=7c8ce21dc0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="form">
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correu electrònic">
			<input type="submit" value="Subscriu-te" name="subscribe" id="mc-embedded-subscribe" class="button">
		</form>
	</div>
	<footer class="container">
		2015, Estudiants de TIC · Universitat Politècnica de Catalunya<br />
		Troban's a <a href="http://facebook.com/FrikiWeek" target="_blank">facebook</a> i <a href="http://twitter.com/frikiweek" target="_blank">twitter</a><br />
		<small>Dóna un cop d'ull al codi font a <a href="http://github.com/masipcat/frikiweek.cat" target="_blank">GitHub</a></small>
	</footer>
</div>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-63919703-1', 'auto');
	ga('send', 'pageview');
</script>
</body>
</html>
