{% extends "apuntador/base.html" %}
{% block title %}Apuntador{% endblock %}
{% block content %}
<h1>IoT Concept</h1>
<p>Clica el botó per ajudar-nos a dur a terme l'experiment de IoT! Simplement has de clicar el següent botó per regar la planta que tenim al laboratòria</p>
<input type="button" name="regar" onclick="regar()" value="Rega la planta!" />
<br /><br />
<div id="resposta" style="color:#0A0"></div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
function regar() {
	document.getElementById("resposta").innerHTML = "Estem enviant els teus desitjos...";

	$.get("/iot/increase", function(data) {
		document.getElementById("resposta").innerHTML = data;
	}).done(function() {

		//alert("planta regada! :)");
	}).fail(function() {
		alert("la planat no s'ha pogut regar");
	});
}
</script>
{% endblock %}