<li class='taller'><u>Lletra, Paraula, Llenguatge, Autòmat i Chomsky</u> <span class='professor_taller'> per <strong>Sebastià Vila</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>El Sebas no ens ha volgut donar més informació del taller i ha decidit deixar-nos intrigats <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>La Internet de les coses. Com la construïm?</u> <span class='professor_taller'> per <strong>Joan Martínez</strong>, cap de laboratori</span><br />
	<span class='taller_desc'>una visió... [en construcció] <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>Taller de pàgines web dinàmiques en PHP</u> <span class='professor_taller'> per <strong>Èrik Campobadal</strong>, futur estudiant de TIC</span><br />
	<span class='taller_desc'>Formació bàsica del diseny i desenvolupament web. Creació d'una applicació web completa desde zero, amb l'ajuda de diferents <em>frameworks</em>. req. <span class="requisits">coneixements de programació</span></span>
</li>

<li class='taller'><u>Taller sobre la instrumentació de laboratori</u> <span class='professor_taller'> per <strong>Jordi Bonet</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>una visió... [en construcció] req. <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>Introducció a les expressions regulars</u> <span class='professor_taller'> per <strong>Jordi Masip</strong>, estudiant de TIC</span><br />
	<span class='taller_desc'>S'aprendrà a validar dades, realitzar cerques i substitucions utilitzant expressions regulars (RegEx) <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>Què és guifi.net?</u> <span class='professor_taller'> per <strong>Francisco del Águila</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>Presentació sobre què és guifi.net i el seu funcionament [en construcció] <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>Introducció a la programació amb Python</u> <span class='professor_taller'> per <strong>Hafid Kharbouch</strong>, estudiant de TIC</span><br />
	<span class='taller_desc'>una visió... [en construcció] <span class="requisits">tots els públics</span></span>
</li>

<li class='taller'><u>La paella friki! - Tots hi esteu convidats!!</u> <br/>
	<span class='taller_desc'>Es farà un dinar amb paella preparada especialment per nosaltres. El dinar tindrà lloc al Bar de la UPC. S'ha de <span class="requisits">pagar la inscripció prèviament: 10€</span></span>
</li>