<li class='taller'><u>La Internet de les coses. Com la construïm?</u><br />
	<span class='professor_taller'>per <strong>Joan Martínez</strong> i <strong>Albert Babí</strong></span><br />
	<span class='taller_desc'>Darrerament el concepte de Internet de les Coses (IoT) s'ha convertit en Trending Topic. Tothom en parla. Però, sabem què és exactament la IoT? Com la construirem? i sobretot, què es farà amb ella?
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>29/06</strong> a les <strong>09:30</strong></span>
	</div>
</li>

<li class='taller'><u>Taller sobre la instrumentació de laboratori</u><br />
	<span class='professor_taller'>per <strong>Jordi Bonet</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>una visió... [en construcció] req.
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>30/06</strong> a les <strong>09:30</strong></span>
	</div>
</li>

<li class='taller'><u>Taller de pàgines web dinàmiques en PHP</u><br />
	<span class='professor_taller'>per <strong>Èrik Campobadal</strong>, futur estudiant de TIC</span><br />
	<span class='taller_desc'>Creació d'una applicació web completa desde zero, amb l'ajuda de diferents <em>frameworks</em> utilitzant PHP. Tothom sortirà del taller amb el seu lloc web a internet! i amb una sorpresa...
	req. <span class="requisits">coneixements de programació</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>01/07</strong> a les <strong>09:30</strong></span>
	</div>
</li>

<li class='taller'><u>Què és guifi.net?</u><br />
	<span class='professor_taller'>per <strong>Francisco del Águila</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>Taller divulgatiu sobre l'arquitectura, els serveis i el model del gestió de la xarxa de comunicacions oberta, lliure i neutral <a href="http://guifi.net">guifi.net</a>
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>02/07</strong> a les <strong>09:30</strong></span>
	</div>
</li>

<li class='taller'><u>Lletra, Paraula, Llenguatge, Autòmat i Chomsky</u><br />
	<span class='professor_taller'>per <strong>Sebastià Vila</strong>, professor de la UPC</span><br />
	<span class='taller_desc'>El Sebas no ens ha volgut donar més informació del taller i ha decidit deixar-nos intrigats 
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>02/07</strong> a les <strong>15:30</strong></span>
	</div>
</li>

<li class='taller'><u>Introducció a les expressions regulars</u><br />
	<span class='professor_taller'>per <strong>Jordi Masip</strong>, estudiant de TIC</span><br />
	<span class='taller_desc'>S'aprendrà a validar dades, realitzar cerques i substitucions utilitzant expressions regulars (RegEx)
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>03/07</strong> a les <strong>11:15</strong></span>
	</div>
</li>

<li class='taller'><u>Introducció a la programació amb Python</u><br />
	<span class='professor_taller'>per <strong>Hafid Kharbouch</strong>, estudiant de TIC</span><br />
	<span class='taller_desc'>Introducció a la programació amb Python: què són les variables, funcions, condicionals, <em>loops</em>, ...
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>03/07</strong> a les <strong>09:30</strong></span>
	</div>
</li>

<li class='taller'><u>Xerrada de la Fundació .CAT</u><br />
	<span class='professor_taller'>per <strong>Pep Masoliver</strong>, tècnic a la Fundació .CAT</span><br />
	<span class='taller_desc'>Descobrirem les entranyes de les màquines que mantenen els dominis .CAT
	<span class="requisits">tots els públics</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>03/07</strong> a les <strong>10:00</strong></span>
	</div>
</li>

<li class='taller'><u>La paella friki! - Tots hi esteu convidats!!</u><br />
	<span class='taller_desc'>Es farà un dinar amb paella preparada especialment per nosaltres. El dinar tindrà lloc al Bar de la UPC. S'ha de 
	<span class="requisits">pagar la inscripció prèviament: 10€</span></span><br>
	<div class="info_taller">
		<span>Data i hora · <strong>03/07</strong> a les <strong>13:30</strong></span>
	</div>
</li>
